/* header.css */
.header {
  background-color: #ffffff;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 40px);
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.logo img {
  height: 48px;
}

.nav-center ul,
.nav-right ul {
  display: flex;
  gap: 2.5rem;
  align-content: center;
}

.nav-center a,
.nav-right a {
  font-size: 1.25rem;
  color: inherit;
}

.nav-center a:hover,
.nav-right a:hover {
  font-size: 1.25rem;
  color: #7c3aed;
}

.nav-right img {
  height: 24px;
}

.nav-right a:hover img {
  opacity: 0.7;
}
