.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}

.highlight {
  grid-area: hlight;
  background-image: url(../../images/products-grid/hero-grid.png);
}

.sneaker-purple {
  grid-area: sneakerP;
  background-image: url(../../images/products-grid/purple-grid.png);
}

.model {
  grid-area: model;
  background-image: url(../../images/products-grid/model-grid.png);
}

.sneaker-color {
  grid-area: sneakerC;
  background-image: url(../../images/products-grid/color-grid.png);
}

.sneaker-white {
  grid-area: sneakerW;
  background-image: url(../../images/products-grid/white-grid.png);
}

.sneaker-silver {
  grid-area: sneakerS;
  background-image: url(../../images/products-grid/silver-grid.png);
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);

  grid-template-areas:
    "hlight hlight sneakerP sneakerP"
    "hlight hlight model sneakerC"
    "sneakerW sneakerW model sneakerS";
  gap: 30px;
}

.top1-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-title {
  color: #ededed;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.card-subtitle {
  color: #ededed;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.cta-group {
  display: flex;
  gap: 10px;
}
